.todo-header {
  background: #000;
  color: #fff;
  padding: 10px 40px;
  margin-bottom: 20px;
}

.todolists{
  width: 60%;
  margin: auto;
}
form.todo-form {
  /* width: 100%; */
  margin: auto;
  text-align: center;
}
input.todo-input {
  width: 70%;
  margin: 20px;
  border-radius: 5px;
  padding: 7px;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 15px;
}
table, td, th {
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.btn{
  width: 100px;
}
